.u-section-1 {
  background-image: url("rdsette-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 603px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 512px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 134px;
  height: 134px;
  background-image: url("poornima.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 512px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 6px 30px 0;
}

.u-section-1 .u-text-2 {
  margin: 0 0 0 6px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 78px auto 0;
  padding: 11px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 32px;
    padding-left: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 40.03% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 345px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 297px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}