.u-section-1 {
  background-image: url("ADVICE-ON-PENSIONS-PENSION-ADVICE-SAVANTS-1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-1 .u-group-1 {
  width: 486px;
  min-height: 262px;
  background-image: none;
  height: auto;
  margin: 244px -43px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.5rem;
  margin: 1px 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 637px;
  margin: -355px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 488px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 21px 30px 24px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 31px auto 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 21px 30px 24px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 31px auto 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 21px 30px 24px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 31px auto 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 21px 30px 24px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 31px auto 0 0;
}

.u-section-1 .u-text-10 {
  background-image: none;
  animation-duration: 1000ms;
  margin: 52px 375px 0 435px;
}

.u-section-1 .u-image-1 {
  width: 730px;
  height: 316px;
  margin: 31px 193px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -32px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -32px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -11px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -32px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 335px;
    margin-right: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -70px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 225px;
    margin-right: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 311px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -87px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 135px;
    margin-right: 75px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: -74px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 10px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 147px;
  }
}