.u-section-1 {
  background-image: url("images/ADVICE-ON-PENSIONS-PENSION-ADVICE-SAVANTS-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 828px;
}

.u-section-1 .u-group-1 {
  width: 594px;
  min-height: 547px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 104px auto 60px -30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 68px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  margin: 0 28px 0 0;
}

.u-section-1 .u-form-1 {
  height: 347px;
  width: 486px;
  margin: 28px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-2 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  letter-spacing: 1px;
}

.u-section-1 .u-input-3 {
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-group-1 {
    width: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 105px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-group-1 {
    width: 509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-group-1 {
    width: 473px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}